
.nav {
    text-align: left;
    background-color: rgb(28, 27, 27);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5vh;
    display: flex; 
    align-items: center; 
    gap: 15px;
}
p {
    font-weight: bold;
    font-size: 20px;
}
a { 
    padding-left: 5vh;
    align-items: center; 
    top: 0;
    left: 0;
    width: 100%;
    gap: 15px;
}
