#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
.listaAgentes {
  border-radius: 10px;
  background-color: rgb(28, 27, 27);
}
.agentes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.pesquisa {
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 12px;
  gap: 8px;
  display: flex;
  justify-content: right;
}

.pesquisa.highlighted {
  color: #cb4230;
  font-weight: bold;
}
.pesquisando {
  background-color: rgb(28, 27, 27);
  border-radius: 10px;
}